doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
    body 
        header.main-header
            nav.main-nav
                ul.main-list
                    li.list-items 
                        a(href="/") Store
                    li.list-items 
                        a(href="/add-product") Add products 
        main 
            h1 Page Not Found!