body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main-header {
    margin: 0;
    padding: 0;
}
.main-nav {
    background-color: rgb(65, 47, 81);
    height: 4rem;
    width: 100%;
}
.main-list {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    margin: 0;
}

.list-items {
    list-style: none;
}

.list-items a {
    text-decoration: none;
    color: white;
}

.list-items a:hover, a:active {
    color: blueviolet;
}
